@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

* {
    box-sizing: border-box;
    /* this is a reset. box-sizing : border-box,on an element, padding and border are included in the width and height: */
}

body {
    margin: 5px;
    padding: 0;
  display: flex;
  height: 95vh;
  /* why the height of the main children is changed here ? */
  background: #345783;
  /* background pic goes here */
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  flex-direction: column;
}



li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0 2em 0;
    /* from here down added from style.css */
    /* height: 150px; */
    font-family: "Roboto";
    background: #262626;
    /* margin: 0 8px; */
  line-height: 50px;
  padding: 0 24px;
  /* width: 100%; */
  /* display: inline-block; */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  margin: .5rem;

}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
  cursor: pointer;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media(max-width: 768px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 5em 0 5em 0;
  }
  
}

main h1 {
 
  font-family: "Roboto";
  
}

.main {
  display: flex;
  flex: 1;
}

.left {
  background: #178761;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  display: flex;
  background: #982459;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.right {
  background: #654816;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer {
  background: chocolate;
  padding: 1em 0 1em 0;
}
