@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* this is a reset. box-sizing : border-box,on an element, padding and border are included in the width and height: */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
  
    margin: 0%;
    padding: 0%;
    display: flex;
    
    background-image: url(./assets/pylyp-sukhenko-ibh9J-fIgZU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2D2320;

}
.second-html {
  background-image: url(./assets/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2D2320;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262626;
  color: white;
}

.brand-title {
  font-size: 3.5rem;
  margin: 0.5rem;
}

.logo {
  width: 200px;
  height: 200px;

}
/* container of the li , have to set parent first */
.navbar-links ul {
  font-family: Lobster;
  font-size: 25px;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: darkgrey;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
 
.row {
    color: white;
    justify-content: space-between;
}

.card {
  font-family: Lobster;
  border: 2px solid black;
  width: 200px;
  margin-bottom: 25px;
}

main {
  text-align: center;
  padding: 3em 0 3em 0;
  flex: 5 5 150px; 
}

main ul li {
    list-style: none;
    
}

main li a {
    text-decoration: none;
    cursor: pointer;
}


footer {
  font-family: Lobster;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  background: #262626;
  bottom: 0%;
  left: 0;
  padding: 1em 0 1em 0;
}

#container {
  font-family: Roboto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;

}

#container ul {
  list-style: none;
}

form {
  font-family: Lobster;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content:safe
 
}

img {
  width: 150px;
}

.second-html{
  width: 100%;
}

.about {
  font-size: x-large;
  font-family: Lobster;
  color: chocolate;
  text-align: center;

}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }

  .navbar li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
